---
import Image from "astro/components/Image.astro";
import MyImage from "../assets/yay.png";
import MyImage1 from "../assets/yay2.png";
import MyImage2 from "../assets/Gallery.png";
import MyImage3 from "../assets/billede1.png";
import MyImage4 from "../assets/billede2.png";
import MyImage5 from "../assets/billede3.png";
import MyImage6 from "../assets/billede4.png";
import MyImage7 from "../assets/billede5.png";
import MyImage8 from "../assets/billede6.png";
---

<div class="box">
  <Image class="MyImage" src={MyImage} alt="" />
</div>
<h2 class="big-text">
  What can’t I miss in COPENHAGEN <br />
  <span class="line2">as a CREATIVE first-timer?</span>
</h2>
<div>
  <section class="grid1">
    <h1 class="full-width"><span>FEATURED ARTICLES</span></h1>
    <h1 class="full-width1"><span>FEEL LIKE A LOCAL IN COPENHAGEN</span></h1>

    <div class="girl">
      <Image src={MyImage1} alt="" width={350} height={350} />

      <h2 class="freegem">
        <span class="mini-text1">FREE GEM</span>
        <span class="freegem1">
          Explore the streets of Nørrebro and enjoy local food</span
        >
      </h2>
    </div>
    <div class="girl">
      <Image src={MyImage3} alt="" />
      <h2 class="freegem">
        <span class="mini-text1">FREE GEM</span>
        <span class="freegem1">
          Explore the streets of Nørrebro and enjoy local food</span
        >
      </h2>
    </div>

    <div class="girl">
      <Image src={MyImage4} alt="" />
      <h2 class="freegem">
        <span class="mini-text1">FREE GEM</span>
        <span class="freegem1">
          Explore the streets of Nørrebro and enjoy local food</span
        >
      </h2>
    </div>
  </section>
</div>
<div>
  <div class="Image2">
    <Image src={MyImage2} alt="" />
  </div>
  <h2 class="mini-text">UNMISSABLE FREE GEMS</h2>
  <h3 class="big-text1">
    Embark on a colorful journey: MISAKI KAWAI’S “COSMIC TRAVELER” EXHIBITION
  </h3>
  <h2 class="text1">FEATURED ARTICLES</h2>
  <hr class="hr" />
  <h2 class="text2">FREE GEMS TO EXPLORE IN COPENHAGEN</h2>

  <section class="grid2">
    <div>
      <Image src={MyImage5} alt="" />
      <p>hej</p>
    </div>
    <div>
      <Image src={MyImage6} alt="" />
      <p>hej</p>
    </div>
  </section>
  <hr class="hr1" />
  <section class="grid3">
    <div>
      <Image src={MyImage7} alt="" />
      <p>hej</p>
    </div>
    <div>
      <Image src={MyImage8} alt="" />
      <p>hej</p>
    </div>
  </section>
  <section class="grid1">
    <h1 class="full-width"><span>FEATURED ARTICLES</span></h1>
    <h1 class="full-width1"><span>FEEL LIKE A LOCAL IN COPENHAGEN</span></h1>

    <div class="girl">
      <Image src={MyImage1} alt="" />
      <h2 class="freegem">
        <span class="mini-text1">FREE GEM</span>
        <span class="freegem1">
          Explore the streets of Nørrebro and enjoy local food</span
        >
      </h2>
    </div>
    <div class="girl">
      <Image src={MyImage1} alt="" />
      <h2 class="freegem">
        <span class="mini-text1">FREE GEM</span>
        <span class="freegem1">
          Explore the streets of Nørrebro and enjoy local food</span
        >
      </h2>
    </div>

    <div class="girl">
      <Image src={MyImage1} alt="" />
      <h2 class="freegem">
        <span class="mini-text1">FREE GEM</span>
        <span class="freegem1">
          Explore the streets of Nørrebro and enjoy local food</span
        >
      </h2>
    </div>
  </section>
  <div>
    <hr class="hr2" />
    <div class="done">
      <h2 class="sidste">
        DO YOU HAVE RECCOMDATIONS TO MAKE CREATIVE ESCAPE BETTER? LET US KNOW!
      </h2>
      <h2 class="sidste1">
        Send us a Dm on our social media or our email at crtv-esc@gmail.com
      </h2>
    </div>
  </div>

  <style>
    .done {
      padding-left: 5%;
      padding-bottom: 20%;
    }
    .freegem1 {
      font-size: 20px;
    }
    .freegem {
      color: white;
    }
    .mini-text1 {
      text-decoration: underline;
      font-size: 15px;
    }
    .full-width {
      grid-column: 1 / -1;
      margin-top: -50px;
      margin-bottom: 0;
      font-size: 15px;
      color: white;
    }
    .full-width1 {
      grid-column: 1 / -1;
      margin-top: -70px;
      margin-bottom: 0%;

      font-size: 30px;
      color: white;
    }
    .full-width span::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: rgb(255, 252, 252);
      margin-top: 10px;
    }
    .MyImage {
      width: 100%;
      padding-top: 10%;
      padding-left: 23%;
      height: 40%;
    }
    .box {
      width: 70%;
    }
    .grid2 {
      padding-top: 7%;
      padding-bottom: 5%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 70%;
      gap: 150px;

      padding-left: 15%;
    }
    .grid3 {
      padding-top: 5%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 70%;
      gap: 150px;

      padding-left: 15%;
    }

    .grid2 img {
      aspect-ratio: 1.5/1;
      width: 100%;
      height: auto;
    }
    .grid3 img {
      aspect-ratio: 1.5/1;
      width: 100%;
      height: auto;
    }
    .text1 {
      font-size: 1vh;
      padding-left: 40px;
    }
    .text2 {
      font-size: 2vh;
      padding-left: 40px;
    }

    .hr {
      width: 95%;
      height: 2px;
      background-color: black;
      border: none;
    }
    .hr1 {
      width: 95%;
      height: 1px;
      background-color: black;
      border: none;
    }
    .hr2 {
      width: 95%;
      height: 1px;
      margin-top: 100px;
      background-color: black;
      border: none;
    }

    .Image2 img {
      padding-top: 10%;
      padding-left: 10%;
    }
    .Image2 {
      width: 100%;
      height: auto;
    }

    .mini-text {
      color: rgb(0, 0, 0);
      padding-top: 50px;
      margin: 0;
      padding-left: 650px;
      font-size: 16px;
      text-decoration: underline;
      font-family: inherit;
    }
    .line2 {
      text-align: center;
      margin-left: 50px;
    }
    .grid1 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      padding: 100px;
      background-color: #5576d1;
      width: 100%;
      box-sizing: border-box;
    }

    .grid1 img {
      width: 100%;
      height: 100%;
      aspect-ratio: 3/1;
    }
    .girl {
      margin-top: -50px;
    }
    .big-text {
      color: rgb(0, 0, 0);
      padding-left: 35%;
      font-size: 40px;
      padding-bottom: 100px;

      font-family: Anton;
      white-space: pre-wrap;
      max-width: 800px;
      width: 790px;
      margin: 0;
    }
    .big-text1 {
      color: rgb(0, 0, 0);
      padding-left: 390px;
      font-size: 50px;
      margin-top: -50px;
      padding-bottom: 40px;
      font-family: Anton;
      white-space: pre-wrap;
      max-width: 750px;
      width: 790px;
    }
  </style>
</div>
