---
import Image from "astro/components/Image.astro";
import Love from "../assets/Love.png";
import Love1 from "../assets/linked.webp";
import Love2 from "../assets/youtube.png";
import Love3 from "../assets/logo.png";
import Hejj from "../pages/Hejj.astro";
import Search from "../assets/Search.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Mit Site</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header-grid">
        <a href="/Hejj">
          <div class="logo">
            <Image src={Love3} alt="" width={150} height={50} />
          </div>
        </a>
        <form class="form1" action="">
          <input class="input1" type="search" placeholder="Search here ..." />
          <span class="icon">
            <Image src={Search} alt="" width={20} height={20} /></span
          >
        </form>
      </div>
    </header>

    <slot />
    
    <footer class="footer">
      <div class="grid-footer">
        <div>
          <h1 class="footerh1">Design News to your inbox</h1>
        </div>
        <form class="footer-grid">
          <input class="search" type="text" placeholder="E-mail" />
          <button>Send</button>
        </form>
      </div>

      <p class="creative">CREATIVE ESCAPE</p>
      <div class="footer-grid1">
        <div class="col">
          <div class="hr-footer"></div>
          <p>Art</p>
          <p>Design</p>
          <p>Architecture</p>
        </div>
        <div class="col">
          <div class="hr-footer"></div>
          <p>Website</p>
          <p>Podcast</p>
          <p>Authors</p>
        </div>
        <div class="col">
          <div class="hr-footer"></div>
          <p>Local Creatives</p>
          <p>Hidden Gems</p>
          <p>Free Gems</p>
        </div>
      </div>
      <div class="icon-grid">
        <Image src={Love} alt="" width={50} height={50} />
        <Image src={Love1} alt="" width={50} height={50} />
        <Image src={Love2} alt="" width={50} height={50} />
      </div>
    </footer>

    <style>
      .icon {
        position: absolute;
        top: 57%;
        left: 12px;
        transform: translateY(-50%);
        pointer-events: none;
      }
      form:hover .icon {
        opacity: 0;
      }
      .header-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .form1 {
        position: relative;
        top: 0;
        margin: 0;
        left: 60%;
        transition: all 1s;
        width: 50px;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid white;
        padding: 5px;
      }

      .input1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
      }

      .form1:hover {
        width: 300px;
        cursor: pointer;
      }

      .form1:hover input {
        display: block;
      }

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 100%;
      }
      .icon-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: start;
        place-self: center;
        padding-top: 90px;
        gap: 10px;
      }

      .creative {
        font-size: 15px;
      }
      .footer-grid1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30%;
        padding-left: 30%;
      }

      .col {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .hr-footer {
        width: 150%;
        height: 1px;
        background-color: white;
        margin-bottom: 5px;
      }
      .footer {
        padding: 120px;
        background-color: #5576d1;
        color: white;
      }

      .grid-footer {
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
        gap: 20px;
      }

      .footer-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
      }

      .search {
        width: 280px;
        padding: 10px;
      }

      .footerh1 {
        color: white;
        font-size: 40px;
        white-space: pre-wrap;
        max-width: 880px;
        width: 380px;
      }

      body {
        margin: 0;
        background-color: #f6ecdb;
      }

      .header {
        background-color: #5576d1;
        color: white;
        padding: 1rem;
      }
    </style>
  </body>
</html>
